body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav {
  display: flex;
  justify-content: space-between;
background: #000;
  color: #fff;
    padding: 0px 25px;
}
.nav button {
  background: #000;
  color: #fff;
  border: 0;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
margin-top: 10px;
}
.login-form label {
  display: grid;
}
.login-buttons {
  display: flex;
  justify-content: space-between;
}
.login-buttons button {
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
cursor: pointer;
}
.products h2 {
  text-align: center;
  font-size: 28px;
}

.forms {
  display: flex;
  justify-content: center;
    padding: 0 30px;
}

.forms form {
  display: flex;
  flex-direction: column;
}

.forms input {
  padding: 10px;
  margin-bottom: 10px;
margin-top: 10px;
}
.forms label {
  display: grid;
}
.login-buttons {
  display: flex;
  justify-content: space-between;
}
.login-buttons button {
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
cursor: pointer;
}
ul.prod-list li {
  list-style: none;
margin-bottom:20px
}

ul.prod-list button {
 background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
cursor: pointer;
margin: 0 1px;
}
.add-prod{
  background: #f00 !important;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 1px;
      font-size: 15px;
  }
  
  ul.prod-list {
      display: flex;
      justify-content: center;
      gap: 60px;
      flex-wrap: wrap;
  }
  
  form.searchform {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 65px;
  }
  .rightbuttons {
      align-self: center;
  }
  
  form.searchform label {
    display: flex;
    flex-direction: column;
}  

form.searchform label>input {
  padding: 15px;
  width: 500px;
  height: 20px;
}

ul.prod-list>li>button {
  margin-top: 15px;
}
.searchform .login-buttons {
  justify-content: flex-end !important;
  position: relative !important;
  top: -52px !important;

 
}
.searchform .login-buttons button{

  padding: 16px !important;
  border-radius: 0 !important;

}



.productstable {
  width: 100%;
padding: 0 50px;
border-spacing: 0;
}

.productstable td{
text-align:center
}
.productstable th{
border:1px solid #ccc;
}
.productstable td{
border:1px solid #ccc;
}

.productstable button {
  background: #fff;
  border: 0; 
cursor:pointer
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;

}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #111;
  opacity: 0.7;
}

.buttonandheading {
  display: flex;
  justify-content: center;

}

.modal-content .modelclose button{
background: #fff !important;
padding: 10px 15px;
  border: 2px solid #000;
cursor:pointer !important;
  border-radius: 50%;
}
.modelclose {
  display: flex;
  justify-content: end;
}
.modelclose button {
   margin: 8px 8px 0 0;
}
.modal-content .forms{
  padding: 40px 0;
}
.forms .ant-form-item-required::before {
  display: none !important;
}

.forms .ant-row {
  flex-direction: column;
}
.forms .ant-form-item-label {
  text-align: start !important;
}

.forms form {
  gap: 30px !important;
}

.forms .login-buttons button {
 padding: 5px 15px !important;
}

.forms .ant-form-item.css-dev-only-do-not-override-ed5zg0.ant-form-item-with-help.ant-form-item-has-error {
line-height:22px !important;
margin-bottom:50px
}

.logout-confirmation-popup {
text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
}

.popu-logout button {
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1px;
}